.button{
      background-color: #ffffff;
      color: #000000;   
}

.displayColumn{
      display: flex;
      flex-direction: column;
      flex: 1;
}

.image {
      width: 30px;
      height: 20px;
}

.image2 {
      width: 150px;
      height: 90px;
}

.nav{
      height: 100%;
      display: flex;
      flex-direction: column;
}